In [1]:
import os
import pandas as pd
import numpy as np

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session, create_session
from sqlalchemy import create_engine, inspect

from flask import Flask, jsonify, render_template
from flask_sqlalchemy import SQLAlchemy

from sqlalchemy.ext.declarative import declarative_base

import json

In [3]:
app = Flask(__name__)

engine=create_engine("postgresql+psycopg2://postgres:postgres@localhost:5432/Project_2_Test")
app.config["SQLALCHEMY_DATABASE_URI"] = "postgresql+psycopg2://postgres:postgres@localhost:5432/Project_2_Test"
db = SQLAlchemy(app)


Base = automap_base()#bind=db.engine)
Base.prepare(db.engine, reflect=True)
#session = create_session(bind = db.engine)

inspector = inspect(db.engine)
print(f"Inspector finds: {inspector.get_table_names()}")
tables=inspector.get_table_names()

print(f"Base.classes.keys() finds: {Base.classes.keys()}")

conn = engine.connect()
Temple_data_conn=pd.read_sql(f"SELECT * FROM {tables[0]}", conn)
Temple_data_conn.head()

C:\Users\scott\Anaconda3\lib\site-packages\flask_sqlalchemy\__init__.py:835: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  'SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and '

Inspector finds: ['test_data']
Base.classes.keys() finds: []

  league              team  altitude  win_pct  home_win_pct  similar_opp_home
0    NBA    Denver Nuggets    5300.0   0.4227        0.5669            0.5212
1    NBA         Utah Jazz    4200.0   0.5188        0.4324            0.4422
2    NBA     Orlando Magic      60.0   0.4337        0.4260            0.6943
3    NBA        Miami Heat       5.0   0.5836        0.4538            0.6265
4    MLB  Colorado Rockies    5211.0   0.4550        0.6128            0.4430