In [56]:
import pandas as pd
import numpy as np

In [57]:
nba_df = pd.read_csv("Clean_NBA.csv")

In [62]:
nba_df = nba_df.drop(["Unnamed: 0"], axis=1)

In [67]:
no_po = nba_df.loc[nba_df["playoffs"]==0]

In [68]:
no_po["score_diff"] = no_po["PTS.1"] - no_po["PTS"]

/home/brad/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [69]:
no_po

,season,Var.4,Visitor/Neutral,PTS,Home/Neutral,PTS.1,playoffs,score_diff
0,2007,Box Score,Phoenix Suns,106,Los Angeles Lakers,114,0,8
1,2007,Box Score,Chicago Bulls,108,Miami Heat,66,0,-42
2,2007,Box Score,New Orleans/Oklahoma City Hornets,91,Boston Celtics,87,0,-4
3,2007,Box Score,Indiana Pacers,106,Charlotte Bobcats,99,0,-7
4,2007,Box Score,Washington Wizards,94,Cleveland Cavaliers,97,0,3
...,...,...,...,...,...,...,...,...
10176,2014,Box Score,Detroit Pistons,111,Oklahoma City Thunder,112,0,1
10177,2014,Box Score,Indiana Pacers,101,Orlando Magic,86,0,-15
10178,2014,Box Score,Los Angeles Clippers,104,Portland Trail Blazers,110,0,6
10179,2014,Box Score,Phoenix Suns,104,Sacramento Kings,99,0,-5
10180,2014,Box Score,Los Angeles Lakers,113,San Antonio Spurs,100,0,-13

In [71]:
unclean_data = pd.read_csv("NBA_results.csv")
unclean_data = unclean_data.loc[unclean_data["season"] >= 2007]

In [73]:
unclean_data = unclean_data.loc[unclean_data["playoffs"] == 0]

In [74]:
unclean_data

,season,Date,Start (ET),Var.4,Visitor/Neutral,PTS,Home/Neutral,PTS.1,Var.9,Notes,playoffs
46482,2007,"Tue, Oct 31, 2006",7:30 PM,Box Score,Phoenix Suns,106,Los Angeles Lakers,114,NaN,NaN,0
46483,2007,"Tue, Oct 31, 2006",8:00 PM,Box Score,Chicago Bulls,108,Miami Heat,66,NaN,NaN,0
46484,2007,"Wed, Nov 1, 2006",7:30 PM,Box Score,New Orleans/Oklahoma City Hornets,91,Boston Celtics,87,NaN,NaN,0
46485,2007,"Wed, Nov 1, 2006",7:00 PM,Box Score,Indiana Pacers,106,Charlotte Bobcats,99,NaN,NaN,0
46486,2007,"Wed, Nov 1, 2006",8:00 PM,Box Score,Washington Wizards,94,Cleveland Cavaliers,97,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...
56658,2014,"Wed, Apr 16, 2014",8:00 PM,Box Score,Detroit Pistons,111,Oklahoma City Thunder,112,NaN,NaN,0
56659,2014,"Wed, Apr 16, 2014",7:00 PM,Box Score,Indiana Pacers,101,Orlando Magic,86,NaN,NaN,0
56660,2014,"Wed, Apr 16, 2014",10:30 PM,Box Score,Los Angeles Clippers,104,Portland Trail Blazers,110,NaN,NaN,0
56661,2014,"Wed, Apr 16, 2014",10:30 PM,Box Score,Phoenix Suns,104,Sacramento Kings,99,NaN,NaN,0
56662,2014,"Wed, Apr 16, 2014",8:00 PM,Box Score,Los Angeles Lakers,113,San Antonio Spurs,100,NaN,NaN,0

In [154]:
no_po.astype()

season              int64
Var.4              object
Visitor/Neutral    object
PTS                 int64
Home/Neutral       object
PTS.1               int64
playoffs            int64
score_diff          int64
dtype: object

In [77]:
df_07 = no_po.loc[no_po["season"]==2007]
df_08 = no_po.loc[no_po["season"]==2008]
df_09 = no_po.loc[no_po["season"]==2009]
df_10 = no_po.loc[no_po["season"]==2010]
df_11 = no_po.loc[no_po["season"]==2011]
df_12 = no_po.loc[no_po["season"]==2012]
df_13 = no_po.loc[no_po["season"]==2013]
df_14 = no_po.loc[no_po["season"]==2014]

In [79]:
score_diff = df_08["score_diff"].to_list()
home_team = df_08['Home/Neutral'].to_list()
visitors = df_08['Visitor/Neutral'].to_list()

In [85]:
winners = []
losers = []
location = []
nba_zip = zip(home_team, score_diff, visitors)
for home, score, visitor in nba_zip:
    if score > 0:
        winners.append(home)
        losers.append(visitor)
        location.append(home)
    elif score < 0:
        losers.append(home)
        winners.append(visitor)
        location.append(home)
    game_dict = {"Winners":winners,
                "Losers": losers,
                "Location": location
                }

In [86]:
records_08 = pd.DataFrame(game_dict)
records_08

                     Winners                  Losers                Location
0             Boston Celtics     Cleveland Cavaliers     Cleveland Cavaliers
1         Washington Wizards        Dallas Mavericks        Dallas Mavericks
2         Los Angeles Lakers    Los Angeles Clippers      Los Angeles Lakers
3     Portland Trail Blazers         Houston Rockets  Portland Trail Blazers
4              Atlanta Hawks          Indiana Pacers           Atlanta Hawks
...                      ...                     ...                     ...
1225           Orlando Magic      Philadelphia 76ers           Orlando Magic
1226   Golden State Warriors  Portland Trail Blazers  Portland Trail Blazers
1227         Toronto Raptors         New York Knicks         Toronto Raptors
1228            Phoenix Suns               Utah Jazz               Utah Jazz
1229      Washington Wizards          Indiana Pacers      Washington Wizards

[1230 rows x 3 columns]

In [88]:
score_diff = df_09["score_diff"].to_list()
home_team = df_09['Home/Neutral'].to_list()
visitors = df_09['Visitor/Neutral'].to_list()

winners = []
losers = []
location = []
nba_zip = zip(home_team, score_diff, visitors)
for home, score, visitor in nba_zip:
    if score > 0:
        winners.append(home)
        losers.append(visitor)
        location.append(home)
    elif score < 0:
        losers.append(home)
        winners.append(visitor)
        location.append(home)
    game_dict = {"Winners":winners,
                "Losers": losers,
                "Location": location
                }

In [89]:
records_09 = pd.DataFrame(game_dict)
records_09

                     Winners                  Losers                Location
0             Boston Celtics     Cleveland Cavaliers          Boston Celtics
1              Chicago Bulls         Milwaukee Bucks           Chicago Bulls
2         Los Angeles Lakers  Portland Trail Blazers      Los Angeles Lakers
3            Detroit Pistons          Indiana Pacers         Detroit Pistons
4        New Orleans Hornets   Golden State Warriors   Golden State Warriors
...                      ...                     ...                     ...
1225         New York Knicks         New Jersey Nets         New York Knicks
1226           Orlando Magic       Charlotte Bobcats           Orlando Magic
1227            Phoenix Suns   Golden State Warriors            Phoenix Suns
1228  Portland Trail Blazers          Denver Nuggets  Portland Trail Blazers
1229       San Antonio Spurs     New Orleans Hornets       San Antonio Spurs

[1230 rows x 3 columns]

In [93]:
score_diff = df_10["score_diff"].to_list()
home_team = df_10['Home/Neutral'].to_list()
visitors = df_10['Visitor/Neutral'].to_list()

winners = []
losers = []
location = []
nba_zip = zip(home_team, score_diff, visitors)
for home, score, visitor in nba_zip:
    if score > 0:
        winners.append(home)
        losers.append(visitor)
        location.append(home)
    elif score < 0:
        losers.append(home)
        winners.append(visitor)
        location.append(home)
    game_dict = {"Winners":winners,
                "Losers": losers,
                "Location": location
                }

In [94]:
records_10 = pd.DataFrame(game_dict)
records_10

                     Winners                  Losers                Location
0             Boston Celtics     Cleveland Cavaliers     Cleveland Cavaliers
1         Washington Wizards        Dallas Mavericks        Dallas Mavericks
2         Los Angeles Lakers    Los Angeles Clippers      Los Angeles Lakers
3     Portland Trail Blazers         Houston Rockets  Portland Trail Blazers
4              Atlanta Hawks          Indiana Pacers           Atlanta Hawks
...                      ...                     ...                     ...
1225           Orlando Magic      Philadelphia 76ers           Orlando Magic
1226   Golden State Warriors  Portland Trail Blazers  Portland Trail Blazers
1227         Toronto Raptors         New York Knicks         Toronto Raptors
1228            Phoenix Suns               Utah Jazz               Utah Jazz
1229      Washington Wizards          Indiana Pacers      Washington Wizards

[1230 rows x 3 columns]

In [95]:
score_diff = df_11["score_diff"].to_list()
home_team = df_11['Home/Neutral'].to_list()
visitors = df_11['Visitor/Neutral'].to_list()

winners = []
losers = []
location = []
nba_zip = zip(home_team, score_diff, visitors)
for home, score, visitor in nba_zip:
    if score > 0:
        winners.append(home)
        losers.append(visitor)
        location.append(home)
    elif score < 0:
        losers.append(home)
        winners.append(visitor)
        location.append(home)
    game_dict = {"Winners":winners,
                "Losers": losers,
                "Location": location
                }

In [96]:
records_11 = pd.DataFrame(game_dict)
records_11

                     Winners              Losers                Location
0             Boston Celtics          Miami Heat          Boston Celtics
1         Los Angeles Lakers     Houston Rockets      Los Angeles Lakers
2     Portland Trail Blazers        Phoenix Suns  Portland Trail Blazers
3        Cleveland Cavaliers      Boston Celtics     Cleveland Cavaliers
4           Dallas Mavericks   Charlotte Bobcats        Dallas Mavericks
...                      ...                 ...                     ...
1225         Detroit Pistons  Philadelphia 76ers      Philadelphia 76ers
1226            Phoenix Suns   San Antonio Spurs            Phoenix Suns
1227      Los Angeles Lakers    Sacramento Kings        Sacramento Kings
1228              Miami Heat     Toronto Raptors         Toronto Raptors
1229               Utah Jazz      Denver Nuggets               Utah Jazz

[1230 rows x 3 columns]

In [97]:
score_diff = df_12["score_diff"].to_list()
home_team = df_12['Home/Neutral'].to_list()
visitors = df_12['Visitor/Neutral'].to_list()

winners = []
losers = []
location = []
nba_zip = zip(home_team, score_diff, visitors)
for home, score, visitor in nba_zip:
    if score > 0:
        winners.append(home)
        losers.append(visitor)
        location.append(home)
    elif score < 0:
        losers.append(home)
        winners.append(visitor)
        location.append(home)
    game_dict = {"Winners":winners,
                "Losers": losers,
                "Location": location
                }

In [98]:
records_12 = pd.DataFrame(game_dict)

In [99]:
score_diff = df_13["score_diff"].to_list()
home_team = df_13['Home/Neutral'].to_list()
visitors = df_13['Visitor/Neutral'].to_list()

winners = []
losers = []
location = []
nba_zip = zip(home_team, score_diff, visitors)
for home, score, visitor in nba_zip:
    if score > 0:
        winners.append(home)
        losers.append(visitor)
        location.append(home)
    elif score < 0:
        losers.append(home)
        winners.append(visitor)
        location.append(home)
    game_dict = {"Winners":winners,
                "Losers": losers,
                "Location": location
                }

In [100]:
records_13 = pd.DataFrame(game_dict)

In [101]:
score_diff = df_14["score_diff"].to_list()
home_team = df_14['Home/Neutral'].to_list()
visitors = df_14['Visitor/Neutral'].to_list()

winners = []
losers = []
location = []
nba_zip = zip(home_team, score_diff, visitors)
for home, score, visitor in nba_zip:
    if score > 0:
        winners.append(home)
        losers.append(visitor)
        location.append(home)
    elif score < 0:
        losers.append(home)
        winners.append(visitor)
        location.append(home)
    game_dict = {"Winners":winners,
                "Losers": losers,
                "Location": location
                }

In [119]:
records_14 = pd.DataFrame(game_dict)

In [187]:
r_14_count = records_14.groupby("Winners").count()

In [189]:
r_14_count["Win/Loss Percentage"] = (r_14_count["Losers"]/82*100).round(2)
r_14_count

                        Losers  Location  Home Win  Win/Loss Percentage
Winners
Atlanta Hawks               38        38        38                46.34
Boston Celtics              25        25        25                30.49
Brooklyn Nets               44        44        44                53.66
Charlotte Bobcats           43        43        43                52.44
Chicago Bulls               48        48        48                58.54
Cleveland Cavaliers         33        33        33                40.24
Dallas Mavericks            49        49        49                59.76
Denver Nuggets              36        36        36                43.90
Detroit Pistons             29        29        29                35.37
Golden State Warriors       51        51        51                62.20
Houston Rockets             54        54        54                65.85
Indiana Pacers              56        56        56                68.29
Los Angeles Clippers        57        57        57                69.51
Los Angeles Lakers          27        27        27                32.93
Memphis Grizzlies           50        50        50                60.98
Miami Heat                  54        54        54                65.85
Milwaukee Bucks             15        15        15                18.29
Minnesota Timberwolves      40        40        40                48.78
New Orleans Pelicans        34        34        34                41.46
New York Knicks             37        37        37                45.12
Oklahoma City Thunder       59        59        59                71.95
Orlando Magic               23        23        23                28.05
Philadelphia 76ers          19        19        19                23.17
Phoenix Suns                48        48        48                58.54
Portland Trail Blazers      54        54        54                65.85
Sacramento Kings            28        28        28                34.15
San Antonio Spurs           62        62        62                75.61
Toronto Raptors             48        48        48                58.54
Utah Jazz                   25        25        25                30.49
Washington Wizards          44        44        44                53.66

In [190]:
r_14_count.drop(["Losers"], axis = 1)

                        Location  Home Win  Win/Loss Percentage
Winners
Atlanta Hawks                 38        38                46.34
Boston Celtics                25        25                30.49
Brooklyn Nets                 44        44                53.66
Charlotte Bobcats             43        43                52.44
Chicago Bulls                 48        48                58.54
Cleveland Cavaliers           33        33                40.24
Dallas Mavericks              49        49                59.76
Denver Nuggets                36        36                43.90
Detroit Pistons               29        29                35.37
Golden State Warriors         51        51                62.20
Houston Rockets               54        54                65.85
Indiana Pacers                56        56                68.29
Los Angeles Clippers          57        57                69.51
Los Angeles Lakers            27        27                32.93
Memphis Grizzlies             50        50                60.98
Miami Heat                    54        54                65.85
Milwaukee Bucks               15        15                18.29
Minnesota Timberwolves        40        40                48.78
New Orleans Pelicans          34        34                41.46
New York Knicks               37        37                45.12
Oklahoma City Thunder         59        59                71.95
Orlando Magic                 23        23                28.05
Philadelphia 76ers            19        19                23.17
Phoenix Suns                  48        48                58.54
Portland Trail Blazers        54        54                65.85
Sacramento Kings              28        28                34.15
San Antonio Spurs             62        62                75.61
Toronto Raptors               48        48                58.54
Utah Jazz                     25        25                30.49
Washington Wizards            44        44                53.66

In [193]:
r_14_count

                        Losers  Location  Home Win  Win/Loss Percentage
Winners
Atlanta Hawks               38        38        38                46.34
Boston Celtics              25        25        25                30.49
Brooklyn Nets               44        44        44                53.66
Charlotte Bobcats           43        43        43                52.44
Chicago Bulls               48        48        48                58.54
Cleveland Cavaliers         33        33        33                40.24
Dallas Mavericks            49        49        49                59.76
Denver Nuggets              36        36        36                43.90
Detroit Pistons             29        29        29                35.37
Golden State Warriors       51        51        51                62.20
Houston Rockets             54        54        54                65.85
Indiana Pacers              56        56        56                68.29
Los Angeles Clippers        57        57        57                69.51
Los Angeles Lakers          27        27        27                32.93
Memphis Grizzlies           50        50        50                60.98
Miami Heat                  54        54        54                65.85
Milwaukee Bucks             15        15        15                18.29
Minnesota Timberwolves      40        40        40                48.78
New Orleans Pelicans        34        34        34                41.46
New York Knicks             37        37        37                45.12
Oklahoma City Thunder       59        59        59                71.95
Orlando Magic               23        23        23                28.05
Philadelphia 76ers          19        19        19                23.17
Phoenix Suns                48        48        48                58.54
Portland Trail Blazers      54        54        54                65.85
Sacramento Kings            28        28        28                34.15
San Antonio Spurs           62        62        62                75.61
Toronto Raptors             48        48        48                58.54
Utah Jazz                   25        25        25                30.49
Washington Wizards          44        44        44                53.66

In [203]:
r_14_pct = r_14_count.drop(["Losers", "Location", "Home Win"], axis = 1)
r_14_pct

                        Win/Loss Percentage
Winners
Atlanta Hawks                         46.34
Boston Celtics                        30.49
Brooklyn Nets                         53.66
Charlotte Bobcats                     52.44
Chicago Bulls                         58.54
Cleveland Cavaliers                   40.24
Dallas Mavericks                      59.76
Denver Nuggets                        43.90
Detroit Pistons                       35.37
Golden State Warriors                 62.20
Houston Rockets                       65.85
Indiana Pacers                        68.29
Los Angeles Clippers                  69.51
Los Angeles Lakers                    32.93
Memphis Grizzlies                     60.98
Miami Heat                            65.85
Milwaukee Bucks                       18.29
Minnesota Timberwolves                48.78
New Orleans Pelicans                  41.46
New York Knicks                       45.12
Oklahoma City Thunder                 71.95
Orlando Magic                         28.05
Philadelphia 76ers                    23.17
Phoenix Suns                          58.54
Portland Trail Blazers                65.85
Sacramento Kings                      34.15
San Antonio Spurs                     75.61
Toronto Raptors                       58.54
Utah Jazz                             30.49
Washington Wizards                    53.66

In [204]:
records_14.head()

               Winners                Losers             Location  Home Win
0       Indiana Pacers         Orlando Magic       Indiana Pacers      True
1   Los Angeles Lakers  Los Angeles Clippers   Los Angeles Lakers      True
2           Miami Heat         Chicago Bulls           Miami Heat      True
3  Cleveland Cavaliers         Brooklyn Nets  Cleveland Cavaliers      True
4     Dallas Mavericks         Atlanta Hawks     Dallas Mavericks      True

In [205]:
score_diff = df_14["score_diff"].to_list()
home_team = df_14['Home/Neutral'].to_list()
visitors = df_14['Visitor/Neutral'].to_list()

winners = []
losers = []
location = []
nba_zip = zip(home_team, score_diff, visitors)
for home, score, visitor in nba_zip:
    if score > 0:
        winners.append(home)
    elif score < 0:
        losers.append(home)

In [206]:
len(winners)

714

In [207]:
len(losers)

516

In [208]:
len(winners+losers)

1230

In [209]:
test_14 = pd.DataFrame({"Wins" : winners})

In [210]:
home_wins_14 = test_14["Wins"].value_counts()
home_wins_14

Indiana Pacers            35
Oklahoma City Thunder     34
Los Angeles Clippers      34
Houston Rockets           33
San Antonio Spurs         32
Miami Heat                32
Portland Trail Blazers    31
Brooklyn Nets             28
Golden State Warriors     27
Chicago Bulls             27
Memphis Grizzlies         27
Dallas Mavericks          26
Toronto Raptors           26
Phoenix Suns              26
Charlotte Bobcats         25
Atlanta Hawks             24
Minnesota Timberwolves    24
Washington Wizards        22
New Orleans Pelicans      22
Denver Nuggets            22
New York Knicks           19
Cleveland Cavaliers       19
Orlando Magic             19
Detroit Pistons           17
Sacramento Kings          17
Boston Celtics            16
Utah Jazz                 16
Los Angeles Lakers        14
Milwaukee Bucks           10
Philadelphia 76ers        10
Name: Wins, dtype: int64

In [215]:
hw_pct_14 = (home_wins_14/41*100).round(2)

In [237]:
r_14_pct["Home W/L"] = hw_pct_14
r_14_pct.rename(columns={"Win/Loss Percentage": "W/L Percentage"})

                        W/L Percentage  Home W/L
Winners
Atlanta Hawks                    46.34     58.54
Boston Celtics                   30.49     39.02
Brooklyn Nets                    53.66     68.29
Charlotte Bobcats                52.44     60.98
Chicago Bulls                    58.54     65.85
Cleveland Cavaliers              40.24     46.34
Dallas Mavericks                 59.76     63.41
Denver Nuggets                   43.90     53.66
Detroit Pistons                  35.37     41.46
Golden State Warriors            62.20     65.85
Houston Rockets                  65.85     80.49
Indiana Pacers                   68.29     85.37
Los Angeles Clippers             69.51     82.93
Los Angeles Lakers               32.93     34.15
Memphis Grizzlies                60.98     65.85
Miami Heat                       65.85     78.05
Milwaukee Bucks                  18.29     24.39
Minnesota Timberwolves           48.78     58.54
New Orleans Pelicans             41.46     53.66
New York Knicks                  45.12     46.34
Oklahoma City Thunder            71.95     82.93
Orlando Magic                    28.05     46.34
Philadelphia 76ers               23.17     24.39
Phoenix Suns                     58.54     63.41
Portland Trail Blazers           65.85     75.61
Sacramento Kings                 34.15     41.46
San Antonio Spurs                75.61     78.05
Toronto Raptors                  58.54     63.41
Utah Jazz                        30.49     39.02
Washington Wizards               53.66     53.66

In [238]:
r_14_pct.to_csv("NBA_data/2014.csv")

In [219]:
records_08

                     Winners                  Losers                Location
0             Boston Celtics     Cleveland Cavaliers     Cleveland Cavaliers
1         Washington Wizards        Dallas Mavericks        Dallas Mavericks
2         Los Angeles Lakers    Los Angeles Clippers      Los Angeles Lakers
3     Portland Trail Blazers         Houston Rockets  Portland Trail Blazers
4              Atlanta Hawks          Indiana Pacers           Atlanta Hawks
...                      ...                     ...                     ...
1225           Orlando Magic      Philadelphia 76ers           Orlando Magic
1226   Golden State Warriors  Portland Trail Blazers  Portland Trail Blazers
1227         Toronto Raptors         New York Knicks         Toronto Raptors
1228            Phoenix Suns               Utah Jazz               Utah Jazz
1229      Washington Wizards          Indiana Pacers      Washington Wizards

[1230 rows x 3 columns]

In [223]:
r_08_count = records_08.groupby(["Winners"]).count()
r_08_count

                        Losers  Location
Winners
Atlanta Hawks               53        53
Boston Celtics              50        50
Charlotte Bobcats           44        44
Chicago Bulls               41        41
Cleveland Cavaliers         61        61
Dallas Mavericks            55        55
Denver Nuggets              53        53
Detroit Pistons             27        27
Golden State Warriors       26        26
Houston Rockets             42        42
Indiana Pacers              32        32
Los Angeles Clippers        29        29
Los Angeles Lakers          57        57
Memphis Grizzlies           40        40
Miami Heat                  47        47
Milwaukee Bucks             46        46
Minnesota Timberwolves      15        15
New Jersey Nets             12        12
New Orleans Hornets         37        37
New York Knicks             29        29
Oklahoma City Thunder       50        50
Orlando Magic               59        59
Philadelphia 76ers          27        27
Phoenix Suns                54        54
Portland Trail Blazers      50        50
Sacramento Kings            25        25
San Antonio Spurs           50        50
Toronto Raptors             40        40
Utah Jazz                   53        53
Washington Wizards          26        26

In [225]:
r_08_count["W/L Percentage"] = (r_08_count["Losers"]/82*100).round(2)
r_08_count

                        Losers  Location  W/L Percentage
Winners
Atlanta Hawks               53        53           64.63
Boston Celtics              50        50           60.98
Charlotte Bobcats           44        44           53.66
Chicago Bulls               41        41           50.00
Cleveland Cavaliers         61        61           74.39
Dallas Mavericks            55        55           67.07
Denver Nuggets              53        53           64.63
Detroit Pistons             27        27           32.93
Golden State Warriors       26        26           31.71
Houston Rockets             42        42           51.22
Indiana Pacers              32        32           39.02
Los Angeles Clippers        29        29           35.37
Los Angeles Lakers          57        57           69.51
Memphis Grizzlies           40        40           48.78
Miami Heat                  47        47           57.32
Milwaukee Bucks             46        46           56.10
Minnesota Timberwolves      15        15           18.29
New Jersey Nets             12        12           14.63
New Orleans Hornets         37        37           45.12
New York Knicks             29        29           35.37
Oklahoma City Thunder       50        50           60.98
Orlando Magic               59        59           71.95
Philadelphia 76ers          27        27           32.93
Phoenix Suns                54        54           65.85
Portland Trail Blazers      50        50           60.98
Sacramento Kings            25        25           30.49
San Antonio Spurs           50        50           60.98
Toronto Raptors             40        40           48.78
Utah Jazz                   53        53           64.63
Washington Wizards          26        26           31.71

In [240]:
score_diff = df_08["score_diff"].to_list()
home_team = df_08['Home/Neutral'].to_list()
visitors = df_08['Visitor/Neutral'].to_list()

winners = []
losers = []
location = []
nba_zip = zip(home_team, score_diff, visitors)
for home, score, visitor in nba_zip:
    if score > 0:
        winners.append(home)
    elif score < 0:
        losers.append(home)

hw_08 = pd.Series(winners)
home_08 = hw_08.value_counts()
r_08_count["Home W/L"] = home_08
r_08_count.to_csv("NBA_data/2008.csv")

In [242]:
score_diff = df_09["score_diff"].to_list()
home_team = df_09['Home/Neutral'].to_list()
visitors = df_09['Visitor/Neutral'].to_list()

winners = []
losers = []
location = []
nba_zip = zip(home_team, score_diff, visitors)
for home, score, visitor in nba_zip:
    if score > 0:
        winners.append(home)
    elif score < 0:
        losers.append(home)

hw_09 = pd.Series(winners).value_counts()
home_09 = hw_09
home_09

Cleveland Cavaliers       39
Los Angeles Lakers        36
Boston Celtics            35
Portland Trail Blazers    34
Utah Jazz                 33
Houston Rockets           33
Denver Nuggets            33
Dallas Mavericks          32
Orlando Magic             32
Atlanta Hawks             31
Chicago Bulls             28
Miami Heat                28
New Orleans Hornets       28
San Antonio Spurs         28
Phoenix Suns              28
Indiana Pacers            25
Philadelphia 76ers        24
Charlotte Bobcats         23
Milwaukee Bucks           22
Golden State Warriors     21
Detroit Pistons           21
New York Knicks           20
New Jersey Nets           19
Toronto Raptors           18
Memphis Grizzlies         16
Oklahoma City Thunder     15
Washington Wizards        13
Sacramento Kings          11
Minnesota Timberwolves    11
Los Angeles Clippers      11
dtype: int64

In [249]:
r_09_c = records_09.groupby(["Winners"]).count()
r_09_c.drop(["Location", "Losers"], axis = 1)
r_09_c["W/L Percentage"] = (r_09_c["Losers"]/82*100).round(2)

In [264]:
r_09_c["Home W/L"] = home_09
r_09_c = r_09_c.drop(["Losers", "Location"], axis= 1)

In [261]:
def create_wl_df(df, records):
    df_count = records.groupby(["Winners"]).count()
    wl_series = (df_count["Losers"]/82*100).round(2)
    df_count["W/L Percentage"] = wl_series
    
    score_diff = df["score_diff"].to_list()
    home_team = df['Home/Neutral'].to_list()
    visitors = df['Visitor/Neutral'].to_list()
    
    winner = []
    nba_zip = zip(home_team, score_diff, visitors)
    for home, score, visitor in nba_zip:
        if score > 0:
            winner.append(home)
    
    
    home_wins = ((pd.Series(winner).value_counts())/41*100).round(2)

    df_count["Home W/L"] = home_wins
    
    df_count = df_count.drop(["Losers","Location"], axis = 1)
    
    return df_count

In [263]:
create_wl_df(df_10, records_10).to_csv("NBA_data/2010.csv")

In [268]:
final_09 = create_wl_df(df_09, records_09)
final_09.to_csv("NBA_data/2009.csv")

In [270]:
create_wl_df(df_11, records_11).to_csv("NBA_data/2011.csv")

In [271]:
create_wl_df(df_12, records_12).to_csv("NBA_data/2012.csv")

In [272]:
create_wl_df(df_13, records_13).to_csv("NBA_data/2013.csv")